<header class="masthead bg-primary text-white text-center">
    <div class="product_bg_img"><img src="{{ url_for('static', filename='assets/img/bg_img02.png') }}" class="img-fluid"
                                     alt=""></div>
</header>
<section class="product_header mt-2">
    <div class="container">
        <nav aria-label="breadcrumb" class="mb-2 mt-2 bg-light fw-bolder">
            <ol class="breadcrumb p-1">
                <li class="breadcrumb-item active" aria-current="page">产品中心</li>
            </ol>
        </nav>
        <div class="border-1" id="product-category">
            <ul class="nav card-header-tabs border-bottom">
                <li class="nav-item">
                    <a href="#" class="nav-link disabled bg-light fw-bolder text-dark" tabindex="-1"
                       aria-disabled="true">按商标：</a>
                </li>

                {% for brand in brands %}
                    <li class="nav-item">
                        <a href="{{ url_for('main.product_brand', brand=brand.name) }}" class="nav-link">{{ brand.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="nav card-header-tabs border-bottom">
                <li class="nav-item">
                    <a href="#" class="nav-link disabled bg-light fw-bolder text-dark" tabindex="-1"
                       aria-disabled="true">按剂型：</a>
                </li>
                {% for category in categories %}
                    <li class="nav-item">
                        <a href="{{ url_for('main.product_category', category=category.name) }}" class="nav-link">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="nav card-header-tabs border-bottom">
                <li class="nav-item">
                    <a href="#" class="nav-link disabled bg-light fw-bolder text-dark" tabindex="-1"
                       aria-disabled="true">按功能：</a>
                </li>
                {% for subject in subjects %}
                    <li class="nav-item">
                        <a href="{{ url_for('main.product_subject', subject=subject.name) }}" class="nav-link">{{ subject.name }}</a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
</section>
