<header class="masthead bg-primary text-white text-center">
    <div class="product_bg_img"><img src="{{ url_for('static', filename='assets/img/bg_img02.png') }}" class="img-fluid"
                                     alt=""></div>
</header>
<section class="product_header mt-2">
    <div class="container">
        <nav aria-label="breadcrumb" class="mb-2 mt-2 bg-light">
            <ol class="breadcrumb p-1">

                {% if request.view_args.get('brand') %}
                    <li class="breadcrumb-item"><a href="{{ url_for('main.product') }}"
                                                   class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">产品中心</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">按商标分类</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ request.view_args.get('brand') }}</li>
                {% elif request.view_args.get('category') %}
                    <li class="breadcrumb-item"><a href="{{ url_for('main.product') }}"
                                                   class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">产品中心</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">按剂型分类</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ request.view_args.get('category') }}</li>
                {% elif request.view_args.get('subject') %}
                    <li class="breadcrumb-item"><a href="{{ url_for('main.product') }}"
                                                   class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">产品中心</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">按功能分类</li>
                    <li class="breadcrumb-item active" aria-current="page">{{ request.view_args.get('subject') }}</li>
                {% else %}
                    <li class="breadcrumb-item"><a href="{{ url_for('main.product') }}"
                                                   class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">产品中心</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">全部产品</li>
                {% endif %}
            </ol>
        </nav>
        <div class="border-1" id="product-category">
            <div class="d-flex align-items-baseline border-bottom mb-2">
                <div class="nav-item">
                    <a href="#" class="nav-link disabled bg-light fw-bolder text-dark text-nowrap me-2 px-3 py-2"
                       tabindex="-1"
                       aria-disabled="true">按剂型：</a>
                </div>
                <ul class="nav d-flex flex-wrap align-items-baseline ps-0 mb-0">
                    {% for category in categories %}
                        {% if category.name != '未分类' %}
                            <li class="nav-item nav-pills">
                                <a href="{{ url_for('main.product_category', category=category.name) }}"
                                   class="nav-link {% if request.view_args.get('category') == category.name %}active{% endif %}">{{ category.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="d-flex align-items-baseline border-bottom mb-2">
                <div class="nav-item">
                    <a href="#" class="nav-link disabled bg-light fw-bolder text-dark text-nowrap me-2 px-3 py-2"
                       tabindex="-1"
                       aria-disabled="true">按商标：</a>
                </div>
                <ul class="nav d-flex flex-wrap align-items-baseline ps-0 mb-0">
                    {% for brand in brands %}
                        {% if brand.name != '未分类' %}
                            <li class="nav-item nav-pills">
                                <a href="{{ url_for('main.product_brand', brand=brand.name) }}"
                                   class="nav-link {% if request.view_args.get('brand') == brand.name %}active{% endif %}">{{ brand.name }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
            <div class="d-flex align-items-baseline border-bottom mb-2">
                <div class="nav-item">
                    <a href="#" class="nav-link disabled bg-light fw-bolder text-dark text-nowrap me-2 px-3 py-2"
                       tabindex="-1"
                       aria-disabled="true">按功能：</a>
                </div>
                <ul class="nav d-flex flex-wrap align-items-baseline ps-0 mb-0">
                    {% for subject in subjects %}
                        {% if subject.name != '未分类' %}
                        <li class="nav-item nav-pills">
                            <a href="{{ url_for('main.product_subject', subject=subject.name) }}"
                               class="nav-link {% if request.view_args.get('subject') == subject.name %}active{% endif %}">{{ subject.name }}</a>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
