<header class="masthead bg-primary text-white text-center">
    <div class="product_bg_img"><img src="{{ url_for('static', filename='assets/img/bg_img02.png') }}" class="img-fluid"
                                     alt=""></div>
</header>
<section class="product_header mt-2">
    <div class="container">
        <nav aria-label="breadcrumb" class="mb-2 mt-2 p-1 bg-light fw-bolder">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active" aria-current="page">产品中心</li>
            </ol>
        </nav>
        <div class="border-1">
            <ul class="nav card-header-tabs border-bottom">
                <li class="nav-item">
                    <a href="#" class="nav-link disabled bg-light fw-bolder text-dark" tabindex="-1" aria-disabled="true">按商标：</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">邦琪</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">葛洪</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">金鸡</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">原方</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">汉森元</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">康司臣</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">多通葆</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">比愈通</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">其他</a>
                </li>
            </ul>
            <ul class="nav card-header-tabs border-bottom">
                <li class="nav-item">
                    <a href="#" class="nav-link disabled bg-light fw-bolder text-dark" tabindex="-1" aria-disabled="true">按剂型：</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">膏 剂</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">颗粒剂</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">糖浆剂</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">胶 囊</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">片 剂</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">酊 剂</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">散 剂</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">搽 剂</a>
                </li>
            </ul>
            <ul class="nav card-header-tabs border-bottom">
                <li class="nav-item">
                    <a href="#" class="nav-link disabled bg-light fw-bolder text-dark" tabindex="-1" aria-disabled="true">按功能：</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">补益类</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">儿童用药</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">妇科用药</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">感冒咳嗽</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="true" href="#">护理保健</a>
                </li>
            </ul>
        </div>
    </div>
</section>
