<div class="col-lg-3 col-md-3 col-sm-12 mt-3">
    <div class="list-group mb-3 mx-auto">
        <div class="list-group-item list-group-item-action bg-danger text-white fw-bold">
            公司介绍
        </div>
        {% for intro_category in intro_categories if intro_category.status and intro_category.introduces %}
            <a href="{{ url_for('main.show_intro', intro_id=intro_category.introduces[0].id) }}"
               class="list-group-item list-group-item-action {% if intro_category.name == active_page %}active{% endif %}">
                {{ intro_category.name }}
            </a>
        {% endfor %}
    </div>
</div>
