{% if research_categories %}
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="list-group mb-3 mx-auto">
            <div class="list-group-item list-group-item-action bg-danger text-white fw-bold">
                研发生产
            </div>
            {% for research_category in research_categories %}
                <a href="{{ url_for('main.show_research', research_id=research_category.id) }}"
                   class="list-group-item list-group-item-action {% if research_category.name == active_page %}active{% endif %} ">{{ research_category.name }}</a>
            {% endfor %}
        </div>
    </div>
{% endif %}
