{% extends 'base.html' %}

{% block title %}
    {{ show_con.title }}
{% endblock %}
{% block nav_contact %}active{% endblock %}
{% set active_page = show_con.contact_category.name %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="news_bg_img"><img src="{{ url_for('static', filename='assets/img/bg_img01.png') }}"
                                      class="img-fluid" alt=""></div>
    </header>
    <section class="page-section portfolio bg-light">
        <div class="container">
            <div class="row">
                {% include 'main/_sidebar_contact.html' %}
                <div class="col-lg-9 col-md-9 col-sm-12 bg-white rounded">
                    {% for message in get_flashed_messages(with_categories = True) %}
                        <div class="alert alert-{{ message[0] }}" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            {{ message[1] }}
                        </div>
                    {% endfor %}
                    <h3 class="text-center text-secondary mt-3 ">{{ show_con.title }}</h3>
                    <p class="text-muted text-center"><small>发布时间：{{ show_con.timestamp }}</small></p>
                    <hr>
                    <p class="lh-lg text-start text-indent">{{ show_con.content }}</p>
                    <hr class="mt-5">
                </div>
            </div>
        </div>
    </section>
{% endblock %}