{% extends 'base.html' %}

{% block title %}
    首页
{% endblock %}
{% block nav_index %}active{% endblock %}
{% block content %}
    <!-- Swiper Container -->
    <div class="swiper">
        <div class="swiper-wrapper">
            <!-- 首页 Section -->
            <section id="home" class="swiper-slide swiper-banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide scale-image-effect">
                        <img src="{{ url_for('static', filename='assets/img/banner01.png') }}" alt="banner-image">
                    </div>
                    <div class="swiper-slide scale-image-effect">
                        <img src="{{ url_for('static', filename='assets/img/banner02.png') }}" alt="banner-image">
                    </div>
                    <div class="swiper-slide scale-image-effect">
                        <img src="{{ url_for('static', filename='assets/img/banner03.png') }}" alt="banner-image">
                    </div>
                </div>
            </section>

            <!-- 关于我们 Section -->
            <section id="about" class="swiper-slide text-center bg-light">
                <div class="container-fluid h-100">
                    <div class="row h-100 d-flex align-items-center">
                        <div class="col-md-6 col-sm-12">
                            <img src="{{ url_for('static', filename='assets/img/index-logo.png') }}" alt="About Us"
                                 class="img-fluid fade-in-left" style="max-width: 70%;height: auto;">
                        </div>
                        <div class="col-md-6 col-sm-12 fade-in-right">
                            <h2 class="text-center mb-4">邦琪集团</h2>
                            <p class="fade-in-right lh-lg text-start align-self-center first-line-indent px-5">
                                广西邦琪药业集团有限公司是一家已有20多年的发展历史的民营制药企业，连续入榜广西民营制造业百强、广西高新技术企业百强行列，是广西优秀企业，是集科研、生产、销售、服务为一体的综合性企业集团。集团公司旗下现有10多家子公司，包括金鸡药业、百琪药业、葛洪堂药业、邦琪医药、泰和制药等多家医药企业。集团公司在药品的生产销售和药品研发方面有较强的特色和优势，产品资源相当丰富，药品生产批文号350多个，独家品种35个（其中10个有新药证书）。主要产品有桂龙药膏、复方鱼腥草颗粒、金鸡胶囊、五参安神口服液、罗汉果止咳膏、黄荆油胶丸、抗宫炎颗粒、三参益气口服液、参芪首乌补汁、咳喘停膏等品种。</p>
                            <div class="row text-center mt-4 px-5">
                                <div class="col-4">
                                    <div class="circle-container">
                                        <h4>生产批文</h4>
                                        <span class="counter text-danger font-style" data-bs-target="350">0</span><span
                                            class="text-danger">个</span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="circle-container">
                                        <h4>独家品种</h4>
                                        <span class="counter text-danger font-style" data-bs-target="40">0</span><span
                                            class="text-danger">个</span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="circle-container">
                                        <h4>煎膏剂年产量</h4>
                                        <span class="counter text-danger font-style" data-bs-target="2000">0</span><span
                                            class="text-danger">吨</span>
                                    </div>
                                </div>
                            </div>
                            <div type="button" class="btn btn-lg btn-outline-danger mt-3">查看更多</div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 产品 Section -->
            <section id="products" class="swiper-slide bg-white">
                <div class="container h-100">
                    <div class="row h-100 d-flex align-items-center">
                        <h2 class="text-center mt-6">产品中心</h2>
                        <div class="col-3 fade-in-end mb-1">
                            <div class="hovereffect">
                                <img class="img-fluid"
                                     src="{{ url_for('static', filename='assets/img/portfolio/gaoji.png') }}" alt="">
                                <div class="overlay">
                                    <a class="info fs-4" href="#">膏 剂</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 fade-in-end mb-1">
                            <div class="hovereffect">
                                <img class="img-fluid"
                                     src="{{ url_for('static', filename='assets/img/portfolio/tangjiang.png') }}"
                                     alt="">
                                <div class="overlay">
                                    <a class="info fs-4" href="#">糖 浆</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 fade-in-end mb-1">
                            <div class="hovereffect">
                                <img class="img-fluid"
                                     src="{{ url_for('static', filename='assets/img/portfolio/keli.png') }}" alt="">
                                <div class="overlay">
                                    <a class="info fs-4" href="#">颗 粒</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 fade-in-end mb-1">
                            <div class="hovereffect">
                                <img class="img-fluid"
                                     src="{{ url_for('static', filename='assets/img/portfolio/pianji.png') }}" alt="">
                                <div class="overlay">
                                    <a class="info fs-4" href="#">片 剂</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 fade-in-end mb-1">
                            <div class="hovereffect">
                                <img class="img-fluid"
                                     src="{{ url_for('static', filename='assets/img/portfolio/jiaonang.png') }}" alt="">
                                <div class="overlay">
                                    <a class="info fs-4" href="#">胶 囊</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-3 fade-in-end mb-1">
                            <div class="hovereffect">
                                <img class="img-fluid"
                                     src="{{ url_for('static', filename='assets/img/portfolio/dingji.png') }}" alt="">
                                <div class="overlay">
                                    <a class="info fs-4" href="#">酊 剂</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- 品牌文化 Section -->
            <section id="services" class="swiper-slide slide-half-bg bg-light">
                <div class="container h-100 d-flex">
                    <div class="row d-flex align-items-center">
                        <div class="col-3 fade-in-end mb-1">
                            <img class="img-fluid"
                                 src="{{ url_for('static', filename='assets/img/company.jpg') }}" alt="">
                        </div>
                        <div class="col-3 fade-in-end mb-1">
                            <img class="img-fluid"
                                 src="{{ url_for('static', filename='assets/img/developing.jpg') }}" alt="">
                        </div>
                        <div class="col-3 fade-in-end mb-1">
                            <img class="img-fluid"
                                 src="{{ url_for('static', filename='assets/img/culture.jpg') }}" alt="">
                        </div>
                        <div class="col-3 fade-in-end mb-1">
                            <img class="img-fluid"
                                 src="{{ url_for('static', filename='assets/img/research.jpg') }}" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <!-- 新闻中心 Section -->
            <section id="news"
                     class="swiper-slide swiper-news bg-white d-flex flex-column align-items-center justify-content-center pt-5">
                <h2 class="text-center">新闻中心</h2>
                <div class="swiper-wrapper d-flex align-items-center" style="width: 100%;height: 35rem;">
                    <div class="swiper-slide" style="width: 100%;height: 35rem;">
                        <a href="#" class="text-decoration-none">
                            <div class="card mb-3 shadow-sm" style="width: 22rem;">
                                <img src="{{ url_for('static', filename='assets/img/bangqilogo.png') }}"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">news title</h5>
                                    <p class="card-text">Some quick example text to build on the card title
                                        and
                                        make
                                        up
                                        the
                                        bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 1 mins
                                        ago</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 100%;height: 35rem;">
                        <a href="#" class="text-decoration-none">
                            <div class="card mb-3 shadow-sm" style="width: 22rem;">
                                <img src="{{ url_for('static', filename='assets/img/bangqilogo.png') }}"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">news title</h5>
                                    <p class="card-text">Some quick example text to build on the card title
                                        and
                                        make
                                        up
                                        the
                                        bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 2 mins
                                        ago</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 100%;height: 35rem;">
                        <a href="#" class="text-decoration-none">
                            <div class="card mb-3 shadow-sm" style="width: 22rem;">
                                <img src="{{ url_for('static', filename='assets/img/bangqilogo.png') }}"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">news title</h5>
                                    <p class="card-text">Some quick example text to build on the card title
                                        and
                                        make
                                        up
                                        the
                                        bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins
                                        ago</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 100%;height: 35rem;">
                        <a href="#" class="text-decoration-none">
                            <div class="card mb-3 shadow-sm" style="width: 22rem;">
                                <img src="{{ url_for('static', filename='assets/img/bangqilogo.png') }}"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">news title</h5>
                                    <p class="card-text">Some quick example text to build on the card title
                                        and
                                        make
                                        up
                                        the
                                        bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 4 mins
                                        ago</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- 重复的幻灯片以实现无缝滚动 -->
                    <div class="swiper-slide" style="width: 100%;height: 35rem;">
                        <a href="#" class="text-decoration-none">
                            <div class="card mb-3 shadow-sm" style="width: 22rem;">
                                <img src="{{ url_for('static', filename='assets/img/bangqilogo.png') }}"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">news title</h5>
                                    <p class="card-text">Some quick example text to build on the card title
                                        and
                                        make
                                        up
                                        the
                                        bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 1 mins
                                        ago</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 100%;height: 35rem;">
                        <a href="#" class="text-decoration-none">
                            <div class="card mb-3 shadow-sm" style="width: 22rem;">
                                <img src="{{ url_for('static', filename='assets/img/bangqilogo.png') }}"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">news title</h5>
                                    <p class="card-text">Some quick example text to build on the card title
                                        and
                                        make
                                        up
                                        the
                                        bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 2 mins
                                        ago</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 100%;height: 35rem;">
                        <a href="#" class="text-decoration-none">
                            <div class="card mb-3 shadow-sm" style="width: 22rem;">
                                <img src="{{ url_for('static', filename='assets/img/bangqilogo.png') }}"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">news title</h5>
                                    <p class="card-text">Some quick example text to build on the card title
                                        and
                                        make
                                        up
                                        the
                                        bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins
                                        ago</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="swiper-slide" style="width: 100%;height: 35rem;">
                        <a href="#" class="text-decoration-none">
                            <div class="card mb-3 shadow-sm" style="width: 22rem;">
                                <img src="{{ url_for('static', filename='assets/img/bangqilogo.png') }}"
                                     class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">news title</h5>
                                    <p class="card-text">Some quick example text to build on the card title
                                        and
                                        make
                                        up
                                        the
                                        bulk of the card's content.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 4 mins
                                        ago</small>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>

            <!-- 底部footer Section -->
            <section id="footer" class="swiper-slide bg-dark text-white">
                <div class="container h-100 d-flex flex-column justify-content-center">
                    <div class="row fade-in-end">
                        <div class="col-2">
                            <h5 class="mb-2">产品中心</h5>
                            <ul class="list-unstyled">
                                <li class="my-2"><a href="#" class="footer-font-style">膏 剂</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">糖 浆</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">颗 粒</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">片 剂</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">胶 囊</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">酊 剂</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">酊 剂</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">酊 剂</a></li>
                            </ul>
                        </div>
                        <div class="col-2">
                            <h5 class="mb-2">邦资讯</h5>
                            <ul class="list-unstyled">
                                <li class="my-2"><a href="#" class="footer-font-style">公司新闻</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">行业资讯</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">家庭护理</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">商标展示</a></li>
                            </ul>
                        </div>
                        <div class="col-2">
                            <h5 class="mb-2">公司介绍</h5>
                            <ul class="list-unstyled">
                                <li class="my-2"><a href="#" class="footer-font-style">公司介绍</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">质量机构</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">企业架构</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">社会责任</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">企业荣誉</a></li>
                            </ul>
                        </div>
                        <div class="col-2">
                            <h5 class="mb-2">研发中心</h5>
                            <ul class="list-unstyled">
                                <li class="my-2"><a href="#" class="footer-font-style">公司介绍</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">质量机构</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">企业架构</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">社会责任</a></li>
                                <li class="my-2"><a href="#" class="footer-font-style">企业荣誉</a></li>
                            </ul>
                        </div>
                        <div class="col-4">
                            <h5 class="mb-2">公司信息</h5>
                            <ul class="list-unstyled">
                                <li class="my-2">公司地址：广西钦州市钦北区皇马工业园</li>
                                <li class="my-2">公司电话：0777-3889528</li>
                                <li class="my-2">邮政编码：535038</li>
                                <li class="my-2"><img src="{{ url_for('static', filename='assets/img/wechat.svg') }}"
                                                      alt="公司公众号" style="width:7rem;height:auto;"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="text-center fade-in-end">
                        <span class="footer-info-style">Copyright ©2024 广西邦琪药业集团有限公司 All Rights Reserved</span>
                        <span class="footer-info-style">
                        <a href="https://beian.miit.gov.cn" target="_blank" class="px-0 px-lg-3 rounded">桂ICP备14001107号-1</a>
                    </span>
                        <span class="footer-info-style">
                        <a href="https://beian.miit.gov.cn" target="_blank" class="px-0 px-lg-3 rounded">桂公网安备 45030202000001号</a>
                    </span>
                    </div>
                </div>
            </section>
        </div>
        <div class="swiper-pagination"></div>
    </div>
{% endblock %}

{% set index_page = True %}