{% extends 'base.html' %}

{% block title %}
    {{ intro.title }}
{% endblock %}
{% block nav_intro %}active{% endblock %}
{% set active_page = intro.introduce_category.name %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="news_bg_img"><img src="{{ url_for('static', filename='assets/img/banner-introduce.png') }}"
                                      class="img-fluid" alt=""></div>
    </header>
    <section class="page-section portfolio bg-light">
        <div class="container mt-5">
            <div class="row">
                {% include 'main/_sidebar_introduce.html' %}
                <div class="col-lg-9 col-md-9 col-sm-12 bg-white rounded mt-3 mb-5">
                    <h3 class="text-center text-dark mt-5 ">{{ intro.title }}</h3>
                    <p class="text-muted text-center">
                        <small>发布时间：{{ moment(intro.timestamp).format('lll') }}</small></p>
                    <hr>
                    <p class="lh-lg text-start text-indent">{{ intro.introduce_content|replace("<img", "<img class='img-fluid h-100'")|safe }}</p>
                    <hr class="mt-5">
                </div>
            </div>
        </div>
    </section>
{% endblock %}