{% extends 'base.html' %}

{% block title %}
    {{ news_detail.title }}
{% endblock %}
{% block nav_news %}active{% endblock %}
{% set active_page = news_detail.newscategory.name %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="news_bg_img"><img src="{{ url_for('static', filename='assets/img/bg_img01.png') }}"
                                      class="img-fluid" alt=""></div>
    </header>
    <section class="page-section portfolio bg-light">
        <div class="container">
            <div class="row">
                {% include 'main/_sidebar_news.html' %}
                <div class="col-lg-9 col-md-9 col-sm-12 bg-white rounded">
                    {% for message in get_flashed_messages(with_categories = True) %}
                        <div class="alert alert-{{ message[0] }}" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            {{ message[1] }}
                        </div>
                    {% endfor %}
                    <nav aria-label="breadcrumb" class="mt-2 bg-white">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url_for('main.news') }}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">全部新闻</a></li>
                            <li class="breadcrumb-item"><a
                                    href="{{ url_for('main.show_news_category', news_category_id=news_detail.newscategory.id) }}" class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover">{{ news_detail.newscategory.name }}</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{ news_detail.title }}</li>
                        </ol>
                    </nav>
                    <h3 class="text-center text-dark mt-5">{{ news_detail.title }}</h3>
                    <p class="text-muted text-center"><small>发布时间：{{ news_detail.timestamp }}</small></p>
                    <hr>
                    <p class="lh-lg text-start text-indent">{{ news_detail.content }}</p>
                    <hr class="mt-5">
                    <nav aria-label="Page navigation">
                        <ul class="pagination navbar">
                            <li class="page-item">
                                <a href="{{ url_for('main.news_previous', news_id=news_detail.id) }}"
                                   class="page-link">&larr;上一篇</a>
                            </li>
                            <li class="page-item">
                                <a href="{{ url_for('main.news_next', news_id=news_detail.id) }}" class="page-link">下一篇&rarr;</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}