{% extends 'base.html' %}

{% block title %}
    行业资讯
{% endblock %}
{% block nav_news %}active{% endblock %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="news_bg_img01"></div>
    </header>
    <section class="page-section portfolio bg-light">
        <div class="container pt-5">
            <div class="row">
               {% include 'main/_sidebar_news.html' %}
                <div class="col-md-9">
                    <div class="list-group bg-white list-group-flush px-2">
                        <h3 class="text-center text-secondary mt-3">行业资讯</h3>
                        <hr>
                        <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                            {#                            <img src="{{ url_for('static',filename = 'assets/img/news/news_logo.png') }}"#}
                            {#                                 class="d-flex" alt="...">#}
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">这是新闻标题</h6>
                                <small>2023年6月6日</small>
                            </div>
                            <p class="mb-1">
                                这是新闻内容。这是新闻内容。这是新闻内容。这是新闻内容。这是新闻内容。这是新闻内容。这是新闻内容。</p>
                            <small>查看详情>></small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">这是新闻标题</h6>
                                <small class="text-muted">2023年6月6日</small>
                            </div>
                            <p class="mb-1">
                                这是新闻内容。这是新闻内容。这是新闻内容。这是新闻内容。这是新闻内容。这是新闻内容。这是新闻内容。</p>
                            <small>查看详情>></small>
                        </a>
                        <a href="#" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h6 class="mb-1">这是新闻标题</h6>
                                <small class="text-muted">2023年6月6日</small>
                            </div>
                            <p class="mb-1">
                                这是新闻内容。这是新闻内容。这是新闻内容。这是新闻内容。这是新闻内容。这是新闻内容。这是新闻内容。</p>
                            <small>查看详情>></small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}