{% extends 'base.html' %}
{% from 'bootstrap5/pagination.html' import render_pagination %}

{% block title %}
    全部新闻
{% endblock %}
{% block nav_news %}active{% endblock %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="news_bg_img"><img src="{{ url_for('static', filename='assets/img/bg_img01.png') }}"
                                      class="img-fluid" alt=""></div>
    </header>
    <section class="page-section portfolio bg-light">
        <div class="container pt-5">
            <div class="row">
                {% include 'main/_sidebar_news.html' %}
                <div class="col-lg-9 col-md-9 col-sm-12 row">
                    <nav aria-label="breadcrumb" class="p-1 bg-light">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{{ url_for('main.news') }}">邦资讯</a></li>
                            <li class="breadcrumb-item active" aria-current="page">全部新闻</li>
                        </ol>
                    </nav>
                    <hr>
                    {% if all_news %}
                        {% for news in all_news %}
                            <div class="col-md-4 mb-3 col-sm-6">
                                <div class="card hover-effect">
                                    <img src="{{ url_for('static', filename='assets/img/news/bangqi01.png') }}"
                                         class="card-img-top hover-image" alt="...">
                                    <div class="card-body">
                                        <h6 class="card-title"><a
                                                href="{{ url_for('main.show_news', news_id=news.id) }}">{{ news.title|truncate(20) }}</a>
                                        </h6>
                                        <p class="card-text"><a
                                                href="{{ url_for('main.show_news', news_id=news.id) }}">{{ news.content|truncate(60) }}</a>
                                        </p>
                                    </div>
                                    <div class="card-footer"><span class="text-muted small">{{ news.timestamp }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if all_news %}
                        <div class="pt-2">
                            {{ render_pagination(pagination, align='center', prev='上一页', next='下一页') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
    </section>
{% endblock %}