{% extends 'main/../base.html' %}

{% block title %}
    文章标题 news_title
{% endblock %}
{% block nav_news %}active{% endblock %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="news_bg_img01"></div>
    </header>
    <section class="page-section portfolio bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12">
                    <div class="list-group mb-3 mx-auto">
                        <div class="list-group-item list-group-item-action bg-danger text-white fw-bold">
                            新闻资讯
                        </div>
                        <a href="{{ url_for('news_file') }}"
                           class="list-group-item list-group-item-action">公司通告</a>
                        <a href="{{ url_for('news_company') }}"
                           class="list-group-item list-group-item-action">公司新闻</a>
                        <a href="{{ url_for('news_industry') }}"
                           class="list-group-item list-group-item-action">行业资讯</a>
                    </div>
                    <div class="list-group mb-3 mx-auto">
                        <div class="list-group-item list-group-item-action bg-danger text-white fw-bold">
                            最近文章
                        </div>
                        <a href="#"
                           class="list-group-item list-group-item-action"><span class=""></span>最近文章1</a>
                        <a href="#"
                           class="list-group-item list-group-item-action">最近文章2</a>
                        <a href="#"
                           class="list-group-item list-group-item-action">最近文章3</a>
                        <a href="#"
                           class="list-group-item list-group-item-action">最近文章4</a>
                        <a href="#"
                           class="list-group-item list-group-item-action">最近文章5</a>
                        <a href="#"
                           class="list-group-item list-group-item-action">最近文章6</a>
                        <a href="#"
                           class="list-group-item list-group-item-action">最近文章7</a>
                        <a href="#"
                           class="list-group-item list-group-item-action">最近文章8</a>
                        <a href="#"
                           class="list-group-item list-group-item-action">最近文章9</a>
                        <a href="#"
                           class="list-group-item list-group-item-action">最近文章10</a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 bg-white">
                    <h3 class="text-center text-secondary mt-3 ">新闻标题</h3>
                    <p class="text-muted text-center"><small>发布时间：datestamp</small></p>
                    <hr>
                    <p class="lh-base text-start">新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容新闻内容</p>
                    </div>
                </div>
        </div>
    </section>
{% endblock %}