{% extends 'base.html' %}

{% block title %}
    产品中心
{% endblock %}
{% block nav_products %}active{% endblock %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="product_bg_img"><img src="{{ url_for('static', filename='assets/img/bg_img02.png') }}"
                                         class="img-fluid"
                                         alt=""></div>
    </header>
    <section class="page-section portfolio bg-light py-5">
        <div class="container">
            <div class="row">
                {% include 'main/_sidebar_product.html' %}
                <div class="col-lg-9 col-md-9 col-sm-12 bg-white rounded">
                    {% for message in get_flashed_messages(with_categories = True) %}
                        <div class="alert alert-{{ message[0] }}" role="alert">
                            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                            {{ message[1] }}
                        </div>
                    {% endfor %}
                    <h3 class="text-center text-secondary mt-3">{{ product.name }}</h3>
                    <p class="text-muted text-center"><small>发布时间：{{ product.timestamp }}</small></p>
                    <hr class="divider-custom">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            {% if product.photos.count() %}
                                {# 图片轮播 #}
                                <div id="productCarousel" class="carousel slide carousel-dark " data-bs-ride="carousel">
                                    <!-- 轮播指示器 -->
                                    <div class="carousel-indicators">
                                        {% for photo in product.photos %}
                                            <button type="button" data-bs-target="#productCarousel"
                                                    data-bs-slide-to="{{ loop.index0 }}"
                                                    class="{% if loop.first %}active{% endif %}"
                                                    aria-current="{% if loop.first %}true{% endif %}"
                                                    aria-label="Slide {{ loop.index }}"></button>
                                        {% endfor %}
                                    </div>
                                    <!-- 轮播项 -->
                                    <div class="carousel-inner">
                                        {% for photo in product.photos %}
                                            <div class="carousel-item {% if loop.first %}active{% endif %}">
                                                <img src="{{ url_for('admin.get_image', filename=photo.filename_m) }}"
                                                     alt="{{ product.name }}" class="d-block w-100 img-fluid rounded"
                                                     style="width: 400px; height: 500px; object-fit: contain;">
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div class="">
                                    <img src="{{ url_for('static', filename='assets/default.jpg') }}"
                                         alt="No photos." class="d-block w-100 img-fluid rounded"
                                         style="width: 400px; height: 500px; object-fit: contain;">
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <p>产品名称：{{ product.name }}</p>
                            <p>剂型：{{ product.category.name }}</p>
                            <p>规格：{{ product.product_format }}</p>
                            <p>功能主治：{{ product.product_indication }}</p>
                        </div>
                    </div>
                    <div class="text-start mt-5">
                        {{ product.product_content|safe }}
                    </div>
                    <hr class="mt-5">
                    <nav aria-label="Page navigation">
                        <ul class="pagination navbar">
                            <li class="page-item {% if not product_p_name %}disabled{% endif %}">
                                <a href="{{ url_for('main.product_previous', product_id=product.id) }}"
                                   class="btn btn-light page-link">
                                    {% if product_p_name %}
                                        上一个：{{ product_p_name }}
                                    {% else %}
                                        已经是第一个
                                    {% endif %}
                                </a>
                            </li>
                            <li class="page-item {% if not product_n_name %}disabled{% endif %}">
                                <a href="{{ url_for('main.product_next', product_id=product.id) }}"
                                   class="btn btn-light page-link">
                                    {% if product_n_name %}
                                        下一个：{{ product_n_name }}
                                    {% else %}
                                        已经是最后一个
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock %}