{% extends 'main/../base.html' %}

{% block title %}
    产品中心
{% endblock %}
{% block nav_products %}active{% endblock %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="news_bg_img02"></div>
    </header>

    <section class="portfolio">
        <div class="container">
            <div class="card text-center mt-3 mb-3 shadow">
                <div class="card-header bg-danger">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="true" href="#">所有产品</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="true" href="#">膏 剂</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="true" href="#">颗粒剂</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="true" href="#">糖浆剂</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="true" href="#">胶 囊</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="true" href="#">片 剂</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="true" href="#">酊 剂</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="true" href="#">散 剂</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="true" href="#">搽 剂</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body row">
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="product_hover_effect">
                            <img class="img-fluid rounded"
                                 src="{{ url_for('static', filename = 'assets/img/portfolio/gaoji.png') }}" alt="">
                            <div class="overlay">
                                <h2 class="mt-3">桂龙药膏</h2>
                                <p class="">
                                    祛风除湿，舒筋活络，温肾补血。用于风湿骨痛，慢性腰腿痛，肾阳不足及气血亏虚引起的贫血，失眠多梦，气短，心悸，多汗，厌食，腹胀，尿频。</p>
                                <a class="info" href="{{ url_for('product_detail') }}">点击查看</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="product_hover_effect">
                            <img class="img-fluid rounded"
                                 src="{{ url_for('static', filename = 'assets/img/portfolio/gaoji.png') }}" alt="">
                            <div class="overlay">
                                <h2 class="mt-3">桂龙药膏</h2>
                                <p class="">
                                    祛风除湿，舒筋活络，温肾补血。</p>
                                <a class="info" href="#">点击查看</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="product_hover_effect">
                            <img class="img-fluid rounded"
                                 src="{{ url_for('static', filename = 'assets/img/portfolio/gaoji.png') }}" alt="">
                            <div class="overlay">
                                <h2 class="mt-3">桂龙药膏</h2>
                                <a class="info" href="#">点击查看</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="product_hover_effect">
                            <img class="img-fluid rounded"
                                 src="{{ url_for('static', filename = 'assets/img/portfolio/gaoji.png') }}" alt="">
                            <div class="overlay">
                                <h2 class="mt-3">桂龙药膏</h2>
                                <a class="info" href="#">点击查看</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="product_hover_effect">
                            <img class="img-fluid rounded"
                                 src="{{ url_for('static', filename = 'assets/img/portfolio/gaoji.png') }}" alt="">
                            <div class="overlay">
                                <h2 class="mt-3">桂龙药膏</h2>
                                <a class="info" href="#">点击查看</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="product_hover_effect">
                            <img class="img-fluid rounded"
                                 src="{{ url_for('static', filename = 'assets/img/portfolio/gaoji.png') }}" alt="">
                            <div class="overlay">
                                <h2 class="mt-3">桂龙药膏</h2>
                                <a class="info" href="#">点击查看</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="product_hover_effect">
                            <img class="img-fluid rounded"
                                 src="{{ url_for('static', filename = 'assets/img/portfolio/gaoji.png') }}" alt="">
                            <div class="overlay">
                                <h2 class="mt-3">桂龙药膏</h2>
                                <a class="info" href="#">点击查看</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="product_hover_effect">
                            <img class="img-fluid rounded"
                                 src="{{ url_for('static', filename = 'assets/img/portfolio/gaoji.png') }}" alt="">
                            <div class="overlay">
                                <h2 class="mt-3">桂龙药膏</h2>
                                <a class="info" href="#">点击查看</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 mb-3">
                        <div class="product_hover_effect">
                            <img class="img-fluid rounded"
                                 src="{{ url_for('static', filename = 'assets/img/portfolio/gaoji.png') }}" alt="">
                            <div class="overlay">
                                <h2 class="mt-3">桂龙药膏</h2>
                                <a class="info" href="#">点击查看</a>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation">
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link text-secondary" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link text-secondary active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link text-secondary" href="#">2</a></li>
                            <li class="page-item"><a class="page-link text-secondary" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link text-secondary" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}