{% extends 'base.html' %}
{% from 'bootstrap5/pagination.html' import render_pagination %}

{% block title %}
    产品中心
{% endblock %}
{% block nav_products %}active{% endblock %}
{% block content %}
    {% include 'main/_product_header.html' %}
    <section class="portfolio">
        <div class="container">
            <div class="text-center mt-3 mb-3">
                <div class="row">
                    {% if products %}
                        {% for product in products %}
                            {% if product.status %}
                                <div class="col-md-3 col-sm-6 mb-5">
                                    <div class="product_hover_effect">
                                        <img src="{{ url_for('static', filename = 'assets/img/portfolio/gaoji.png') }}"
                                             alt="" class="img-fluid rounded">
                                        <div class="overlay">
                                            <h2 class="mt-5">{{ product.name }}</h2>
                                            <p class="">
                                                {{ product.product_indication }}
                                            </p>
                                            <a href="{{ url_for('main.show_product', product_id=product.id) }}"
                                               class="info">点击查看</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="text-center">
                                <h5>No Products</h5>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if products %}
                        <div class="pt-2">
                            {{ render_pagination(pagination, align='center', prev='上一页', next='下一页') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </section>
{% endblock %}