<div class="col-md-2  bg-light py-2">
    <ul class="list-group">
        <a class="list-group-item {% if request.endpoint == 'admin.index' %}active{% endif %}"
           href="{{ url_for('admin.index') }}"><i class="fa-solid fa-house"></i> 首
            页</a>
        <a class="list-group-item has-submenu collapsed" data-bs-toggle="collapse" href="#product-collapse"
           role="button"
           aria-expanded="false" aria-controls="product-collapse"><i class="fa-solid fa-briefcase"></i> 产品管理</a>
        <div class="collapse {% if show_product_collapse %}show{% endif %}"
             id="product-collapse">
            <a class="list-group">
                <a class="list-group-item {% if request.endpoint.startswith('admin.product_') %}active{% endif %}"
                   href="{{ url_for('admin.product_list') }}">&nbsp;&nbsp;&nbsp;产品列表</a>
                <a class="list-group-item {% if request.endpoint.startswith('admin.category_') %}active{% endif %}"
                   href="{{ url_for('admin.category_list') }}">&nbsp;&nbsp;&nbsp;产品分类</a>
            </a>
        </div>
        <a class="list-group-item has-submenu collapsed" data-bs-toggle="collapse" href="#news-collapse"
           role="button" aria-expanded="false" aria-controls="news-collapse"><i class="fa-solid fa-globe"></i> 邦资讯管理</a>
        <div class="collapse {% if show_news_collapse %}show{% endif %}"
             id="news-collapse">
            <a class="list-group">
                <a class="list-group-item {% if request.endpoint == 'admin.news_list' or request.endpoint == 'admin.news_edit' or request.endpoint == 'admin.news_add' %}active{% endif %}"
                   href="{{ url_for('admin.news_list') }}">&nbsp;&nbsp;&nbsp;文章列表</a>
                <a class="list-group-item {% if request.endpoint == 'admin.news_category_list' or request.endpoint == 'admin.news_category_edit' %}active{% endif %}"
                   href="{{ url_for('admin.news_category_list') }}">&nbsp;&nbsp;&nbsp;文章分类</a>
            </a>
        </div>
        <a class="list-group-item has-submenu collapsed" data-bs-toggle="collapse" href="#intro-collapse"
           role="button" aria-expanded="false" aria-controls="intro-collapse"><i class="fa-solid fa-list"></i> 公司介绍管理</a>
        <div class="collapse {% if show_intro_collapse %}show{% endif %}"
             id="intro-collapse">
            <a class="list-group">
                <a class="list-group-item {% if request.endpoint == 'admin.intro_list' or request.endpoint == 'admin.intro_edit' or request.endpoint == 'admin.intro_add' %}active{% endif %}"
                   href="{{ url_for('admin.intro_list') }}">&nbsp;&nbsp;&nbsp;文章编辑</a>
                <a class="list-group-item {% if request.endpoint == 'admin.intro_category_list' or request.endpoint == 'admin.intro_category_edit' %}active{% endif %}"
                   href="{{ url_for('admin.intro_category_list') }}">&nbsp;&nbsp;&nbsp;分类编辑</a>
            </a>
        </div>
        <a class="list-group-item has-submenu collapsed" data-bs-toggle="collapse" href="#research-collapse"
           role="button" aria-expanded="false" aria-controls="research-collapse"><i class="fa-solid fa-book-open"></i>
            研发生产管理</a>
        <div class="collapse {% if show_research_collapse %}show{% endif %}"
             id="research-collapse">
            <a class="list-group">
                <a class="list-group-item {% if request.endpoint == 'admin.research_list' or request.endpoint == 'admin.research_edit' or request.endpoint == 'admin.research_add' %}active{% endif %}"
                   href="{{ url_for('admin.research_list') }}">&nbsp;&nbsp;&nbsp;文章编辑</a>
                <a class="list-group-item {% if request.endpoint == 'admin.research_category_list' or request.endpoint == 'admin.research_category_edit' %}active{% endif %}"
                   href="{{ url_for('admin.research_category_list') }}">&nbsp;&nbsp;&nbsp;分类编辑</a>
            </a>
        </div>
        <a class="list-group-item has-submenu collapsed" data-bs-toggle="collapse" href="#contact-collapse"
           role="button" aria-expanded="false" aria-controls="contact-collapse"><i class="fa-solid fa-phone"></i>
            联系我们管理</a>
        <div class="collapse {% if show_contact_collapse %}show{% endif %}"
             id="contact-collapse">
            <a class="list-group">
                <a class="list-group-item {% if request.endpoint == 'admin.contact_list' or request.endpoint == 'admin.contact_edit' or request.endpoint == 'admin.contact_add' %}active{% endif %}"
                   href="{{ url_for('admin.contact_list') }}">&nbsp;&nbsp;&nbsp;文章编辑</a>
                <a class="list-group-item {% if request.endpoint == 'admin.contact_category_list' or request.endpoint == 'admin.contact_category_edit' %}active{% endif %}"
                   href="{{ url_for('admin.contact_category_list') }}">&nbsp;&nbsp;&nbsp;分类编辑</a>
            </a>
        </div>
        <a class="list-group-item has-submenu collapsed" data-bs-toggle="collapse" href="#photos-collapse"
           role="button"
           aria-expanded="false" aria-controls="news-collapse"><i class="fa-solid fa-image"></i> 图片管理</a>
        <div class="collapse{% if request.endpoint == 'admin.banner_photo_list' or request.endpoint == 'admin.scroll_photo_list' or request.endpoint == 'admin.category_photo_list' %}show{% endif %}"
             id="photos-collapse">
            <a class="list-group">
                <a class="list-group-item {% if request.endpoint.startswith('admin.banner_photo_') %}active{% endif %}"
                   href="{{ url_for('admin.banner_photo_list') }}">&nbsp;&nbsp;&nbsp;Banner轮播图片</a>
                <a class="list-group-item {% if request.endpoint == 'admin.scroll_photo_list' %}active{% endif %}"
                   href="{{ url_for('admin.scroll_photo_list') }}">&nbsp;&nbsp;&nbsp;首页滚动图片</a>
                <a class="list-group-item {% if request.endpoint == 'admin.category_photo_list' %}active{% endif %}"
                   href="{{ url_for('admin.category_photo_list') }}">&nbsp;&nbsp;&nbsp;首页剂型图片</a>
                <a class="list-group-item {% if request.endpoint == 'admin.index_photo_list' %}active{% endif %}"
                   href="{{ url_for('admin.index_photo_list') }}">&nbsp;&nbsp;&nbsp;首页其他图片</a>
            </a>
        </div>
        <a class="list-group-item" href="#"><i class="fa-solid fa-user"></i> 管理员设置</a>
        <a class="list-group-item" href="#"><i class="fa-solid fa-gear"></i> 网站设置</a>
    </ul>
</div>
