{% extends 'admin_base.html' %}

{% block title %}
    后台管理面板-Banner图片列表
{% endblock %}
{% block content %}
    <div class="container-fluid my-3">
        <div class="row">
            {% include 'admin/_sidebar_category.html' %}
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.index') }}"
                                                       class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">首
                            页</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Banner图片列表</li>
                    </ol>
                </nav>
                <h4 class="text-center mb-3 mt-3">图片列表</h4>
                <hr>
                <div class="p-3 bg-light border rounded d-flex justify-content-between align-items-center">
                    <div class="row">
                        <div class="col-auto">

                                <a type="submit" class="btn btn-primary" href="{{ url_for('admin.banner_photo_add') }}"><i
                                        class="fa-solid fa-plus"></i> 添加轮播图片
                                </a>
                        </div>
                        <div class="col-auto">
                            <form action="{{ url_for('admin.banner_multiple_delete') }}" method="post"
                                  id="delete-selected-form">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <button type="button" class="btn btn-danger" id="delete-selected-button"><i
                                        class="fa-solid fa-trash"></i> 批量删除
                                </button>
                            </form>
                        </div>
                    </div>
                    <div>
                        <span>共有<strong> {{ banner|length }} </strong>个Banner图片</span>
                    </div>
                </div>
                {% if banner %}
                    <table class="table table-striped border mt-3 text-center" id="bannerTable">
                        <thead>
                        <tr class="align-middle">
                            <th>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value=""
                                           id="all_banner_check" name="item_ids">
                                </div>
                            </th>
                            <th>ID</th>
                            <th>缩略图</th>
                            <th>发布时间</th>
                            <th>发布状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for banner in banner %}
                            <tr class="align-middle">
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input banner-checkbox" type="checkbox"
                                               value="{{ banner.id }}"
                                               name="item_ids">
                                    </div>
                                </td>
                                <td>{{ banner.id }}</td>
                                <td>
                                    <img src="{{ url_for('admin.get_image', filename=banner.filename) }}"
                                         alt="{{ banner.name }}" style="width:200px">
                                </td>
                                <td>{{ moment(banner.timestamp).format('lll') }}</td>
                                <td>
                                    {% if banner.status %}
                                        <small class="text-bg-primary p-1 rounded">已发布</small>
                                    {% else %}
                                        <small class="text-bg-secondary p-1 rounded">已下架</small>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if banner.status %}
                                        <a href="{{ url_for('admin.banner_photo_status', banner_id=banner.id, next=request.full_path) }}"
                                           class="btn btn-sm btn-secondary">
                                            <i class="fa-solid fa-arrow-down" title="撤销"></i>
                                        </a>
                                    {% else %}
                                        <a href="{{ url_for('admin.banner_photo_status', banner_id=banner.id, next=request.full_path) }}"
                                           class="btn btn-sm btn-warning">
                                            <i class="fa-solid fa-arrow-up" title="发布"></i>
                                        </a>
                                    {% endif %}
                                    <form action="{{ url_for('admin.banner_photo_delete', banner_id=banner.id, next=request.full_path) }}"
                                          class="d-inline" method="post">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                                        <button type="submit" class="btn btn-sm btn-danger"
                                                onclick="return confirm('确定要删除吗？')">
                                            <i class="fa-regular fa-trash-can" title="删除"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3 class="mt-3 text-center">没有Banner图片</h3>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        // 选中产品
        document.getElementById('all_banner_check').addEventListener('change', function () {
            const checkboxes = document.querySelectorAll('input[name="item_ids"]');
            for (const checkbox of checkboxes) {
                checkbox.checked = this.checked;
            }
        });
        // 删除选中的产品
        document.getElementById('delete-selected-button').addEventListener('click', function () {
            const checkboxes = document.querySelectorAll('.banner-checkbox:checked');
            if (checkboxes.length === 0) {
                alert('请选择要删除的产品');
                return;
            }
            if (!confirm('确定要删除选中的产品吗？')) {
                return;
            }

            const form = document.getElementById('delete-selected-form');
            if (!form) {
                alert('找不到删除表单');
                return;
            }

            // 移除之前可能存在的隐藏输入
            const existingHiddenInputs = form.querySelectorAll('input[name="item_ids"]');
            existingHiddenInputs.forEach(input => form.removeChild(input));

            // 为每个选中的复选框创建一个隐藏输入
            checkboxes.forEach(function (checkbox) {
                const hidden_input = document.createElement('input');
                hidden_input.type = 'hidden';
                hidden_input.name = 'item_ids';
                hidden_input.value = checkbox.value;
                form.appendChild(hidden_input);
            });

            try {
                form.submit();
            } catch (error) {
                alert('提交失败');
                console.error(error);
            }
        });
    </script>
{% endblock %}
