{% extends 'admin_base.html' %}

{% block title %}
    后台管理面板-修改分类
{% endblock %}

{% block content %}
    <div class="container-fluid my-3">
        <div class="row">
            {% include 'admin/_sidebar_category.html' %}
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('admin.index') }}"
                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">首页
                            </a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{{ url_for('admin.category_list') }}"
                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">产品分类
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">修改产品分类</li>
                    </ol>
                </nav>
                <h4 class="text-center mb-3 mt-3">修改产品分类</h4>
                <hr>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <form class="form" method="post">
                            {{ form.hidden_tag() }}
                            <div class="mb-3">
                                {{ form.name.label(class="form-label") }}
                                {{ form.name(class="form-control") }}
                            </div>
                            <div class="mb-3">
                                {{ form.submit(class="btn btn-primary btn-md") }}
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


