{% extends 'admin_base.html' %}

{% block title %}
    后台管理面板-管理员设置
{% endblock %}
{% block content %}
    <div class="container-fluid my-3">
        <div class="row">
            {% include 'admin/_sidebar_category.html' %}
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ url_for('admin.index') }}"
                                                       class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">首页</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">管理员设置</li>
                    </ol>
                </nav>
                <h4 class="text-center mb-3 mt-3">管理员设置</h4>
                <hr>
                <form method="POST" class="form" id="change-password-form">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.current_password.label(class="form-label") }}
                        {{ form.current_password(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.new_password1.label(class="form-label") }}
                        {{ form.new_password1(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.new_password2.label(class="form-label") }}
                        {{ form.new_password2(class="form-control") }}
                        <small id="password-error" class="text-danger"
                               style="display: none;">两次输入的密码不一致</small>
                    </div>
                    <div class="mb-3">
                        {{ form.submit(class="btn btn-primary btn-md", id="submit-btn") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const password = document.getElementById('new_password1');
            const password2 = document.getElementById('new_password2');
            const passwordError = document.getElementById('password-error');
            const submitBtn = document.getElementById('submit-btn');

            function validatePassword() {
                if (password.value !== password2.value) {
                    passwordError.style.display = 'block'; // 显示错误提示
                    submitBtn.disabled = true; // 禁用提交按钮
                } else {
                    passwordError.style.display = 'none'; // 隐藏错误提示
                    submitBtn.disabled = false; // 启用提交按钮
                }
            }

            // 监听密码输入框的变化
            password.addEventListener('input', validatePassword);
            password2.addEventListener('input', validatePassword);
        });
    </script>
{% endblock %}

