{% extends 'admin_base.html' %}

{% block title %}
    后台管理面板-编辑新闻
{% endblock %}

{% block content %}
    <div class="container-fluid my-3">
        <div class="row">
            {% include 'admin/_sidebar_category.html' %}
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('admin.index') }}"
                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">首页
                            </a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{{ url_for('admin.news_list') }}"
                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">新闻列表
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">编辑产品</li>
                    </ol>
                </nav>
                <h4 class="text-center mb-3 mt-3">编辑新闻</h4>
                <hr>
                <form method="POST" enctype="multipart/form-data" class="form" id="product-form">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.title.label(class="form-label") }}
                        {{ form.title(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <label for="dropzone" class="form-label">展示图片:</label>
                        <div class="dropzone" id="my-dropzone"></div>
                    </div>
                    <div class="mb-3">
                        {{ form.newscategory.label(class="form-label") }}
                        {{ form.newscategory(class="form-control") }}
                    </div>

                    <div class="mb-3">
                        {{ form.content.label(class="form-label") }}
                        {{ form.content(class="form-control") }}
                        {{ ckeditor.load(custom_url=url_for('static', filename='admin/ckeditor/ckeditor.js')) }}
                        {{ ckeditor.config(name='content') }}
                    </div>
                    <div class="mb-3">
                        <input type="hidden" name="temp_files" id="temp_files">
                        {{ form.submit(class="btn btn-primary btn-md") }}
                        {{ form.cancel(class="btn btn-secondary btn-md") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        // 获取 CSRF Token
        function getCsrfToken() {
            return "{{ csrf_token() }}";
        }

        // dropzone设置
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("#my-dropzone", {
            paramName: "file",
            url: "{{ url_for('admin.dropzone_photo_upload') }}",
            method: "POST",
            headers: {
                'X-CSRF-Token': getCsrfToken()  // 添加 CSRF Token 到请求头
            },
            maxFilesize: 5,
            maxFiles: 1,
            acceptedFiles: "image/*",
            addRemoveLinks: true,
            dictDefaultMessage: "点击或拖拽图片到此处上传",
            dictRemoveFile: "删 除",
            dictMaxFilesExceeded: "只能上传一张图片",
            init: function () {
                // 加载已有的图片
                var existingFile = "{{ news.filename }}";
                if (existingFile && existingFile !== "None") {
                    var imageUrl = "{{ url_for('admin.get_image', filename='') }}" + existingFile;
                    var mockFile = {name: existingFile, size: 0};
                    this.emit('addedfile', mockFile);
                    this.emit('thumbnail', mockFile, imageUrl);
                    this.emit('complete', mockFile);
                }

                // 新文件添加时的处理
                this.on('addedfile', function (file) {
                    // 隐藏默认消息
                    this.element.querySelector('.dz-default.dz-message').style.display = 'none';
                });
                // 新文件上传成功后的处理
                this.on('success', function (file, response) {
                    document.getElementById('temp_files').value = response.filename;
                });
                this.on('removedfile', function (file) {
                    document.getElementById('temp_files').value = '';
                });
            }
        })


    </script>
{% endblock %}

