{% extends 'admin_base.html' %}

{% block title %}
    后台管理面板-编辑产品
{% endblock %}

{% block content %}
    <div class="container-fluid my-3">
        <div class="row">
            {% include 'admin/_sidebar_category.html' %}
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('admin.index') }}"
                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">首页
                            </a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{{ url_for('admin.product_list') }}"
                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">产品列表
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">编辑产品</li>
                    </ol>
                </nav>
                <h4 class="text-center mb-3 mt-3">编辑产品</h4>
                <hr>
                <form method="POST" enctype="multipart/form-data" class="form" id="product-form">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control", id="product-name") }}
                        <div id="name-error" class="text-danger small" style="display: none;">
                            产品名称已经存在
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form.category.label(class="form-label") }}
                        {{ form.category(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.brand.label(class="form-label") }}
                        {{ form.brand(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.subject.label(class="form-label") }}
                        {{ form.subject(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.product_indication.label(class="form-label") }}
                        {{ form.product_indication(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.product_format.label(class="form-label") }}
                        {{ form.product_format(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.photos.label(class="form-label") }}
                        {{ form.photos(class="form-control", multiple=True, onchange="validateFiles(this)") }}
                    </div>
                    <div class="mb-3">
                        {{ form.product_content.label(class="form-label") }}
                        {{ form.product_content(class="form-control") }}
                        {{ ckeditor.load(custom_url=url_for('static', filename='admin/ckeditor/ckeditor.js')) }}
                        {{ ckeditor.config(name='product_content') }}
                    </div>
                    <div class="mb-3">
                        {{ form.submit(class="btn btn-primary btn-md") }}
                        {{ form.cancel(class="btn btn-secondary btn-md") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        // 获取 CSRF Token
        function getCsrfToken() {
            return "{{ csrf_token() }}";
        }
    </script>
    <script>
        $(document).ready(function () {
            $("#photos").fileinput({
                uploadUrl: '/admin/product_upload_image',
                enableResumableUpload: true,
                initialPreviewAsData: true,
                maxFileCount: 10,
                showUpload: false,
                theme: 'bs5',
                deleteExtraData: {
                    csrf_token: getCsrfToken()  // 添加 CSRF Token 到请求头
                },
                fileActionSettings: {
                    showZoom: function (config) {
                        if (config.type === 'pdf' || config.type === 'image') {
                            return true;
                        }
                        return false;
                    }
                },
                initialPreview: [
                    {% for url in initial_preview %}
                        '{{ url }}',
                    {% endfor %}
                ],
                deleteUrl: '/admin/photo_delete/52',

            });
        });
    </script>
    <script>
        // 检查产品名称是否已经存在
        document.getElementById('product-name').addEventListener('input', function () {
            const name = this.value;
            const errorDiv = document.getElementById('name-error');
            errorDiv.style.display = 'none';  // 清空之前的错误提示

            // 如果输入的名称与当前产品的名称相同，则不进行检查
            if (name === '{{ product.name }}' || name === '') {
                return;
            }
            fetch('/admin/check_product_name', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': getCsrfToken()  // 添加 CSRF Token 到请求头
                },
                body: JSON.stringify({name: name})
            })
                .then(response => response.json())
                .then(data => {
                    if (data.exists) {
                        errorDiv.style.display = 'block';
                    } else {
                        errorDiv.style.display = 'none';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        })


    </script>
{% endblock %}

