{% extends 'admin_base.html' %}
{% from 'macros.html' import render_field %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}
    后台管理面板-添加产品
{% endblock %}

{% block styles %}
    {{ super() }}
{% endblock %}

{% block content %}
    <div class="container-fluid my-3">
        <div class="row">
            {% include 'admin/_sidebar_category.html' %}
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('admin.index') }}"
                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">首页
                            </a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">产品管理</li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{{ url_for('admin.product_list') }}"
                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">产品列表
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">添加产品</li>
                    </ol>
                </nav>
                <h4 class="text-center mb-3 mt-3">添加产品</h4>
                <hr>
                {{ render_form(form) }}
                {{ ckeditor.load() }}
                {#                <form method="post" enctype="multipart/form-data" class="form" id="productForm">#}
                {#                    {{ form.hidden_tag() }}#}
                {#                    <div class="mb-3">#}
                {#                        {{ form.name.label(class="form-label") }}#}
                {#                        {{ form.name(class="form-control") }}#}
                {#                    </div>#}
                {#                    <div class="mb-3">#}
                {#                        {{ form.category.label(class="form-label") }}#}
                {#                        {{ form.category(class="form-control") }}#}
                {#                    </div>#}
                {#                    <div class="mb-3">#}
                {#                        {{ form.brand.label(class="form-label") }}#}
                {#                        {{ form.brand(class="form-control") }}#}
                {#                    </div>#}
                {#                    <div class="mb-3">#}
                {#                        {{ form.subject.label(class="form-label") }}#}
                {#                        {{ form.subject(class="form-control") }}#}
                {#                    </div>#}
                {#                    <div class="mb-3">#}
                {#                        {{ form.product_indication.label(class="form-label") }}#}
                {#                        {{ form.product_indication(class="form-control") }}#}
                {#                    </div>#}
                {#                    <div class="mb-3">#}
                {#                        {{ form.product_content.label(class="form-label") }}#}
                {#                        {{ form.product_content(class="form-control") }}#}
                {#                    </div>#}
                {#                    <div class="mb-3">#}
                {#                        {{ form.photos.label(class="form-label") }}#}
                {#                        {{ form.photos(class="form-control") }}#}
                {#                    </div>#}
                {#                    <div class="mb-3">#}
                {#                        {{ form.submit(class="btn btn-primary btn-md") }}#}
                {#                    </div>#}
                </form>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-6 offset-md-3">

        </div>
    </div>
{% endblock %}

