{% extends 'admin_base.html' %}

{% block title %}
    后台管理面板-编辑产品
{% endblock %}

{% block content %}
    <div class="container-fluid my-3">
        <div class="row">
            {% include 'admin/_sidebar_category.html' %}
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('admin.index') }}"
                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">首页
                            </a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{{ url_for('admin.product_list') }}"
                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">产品列表
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">编辑产品</li>
                    </ol>
                </nav>
                <h4 class="text-center mb-3 mt-3">编辑产品</h4>
                <hr>
                <form method="POST" enctype="multipart/form-data" class="form" id="product-form">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.name.label(class="form-label") }}
                        {{ form.name(class="form-control", id="product-name") }}
                        <div id="name-error" class="text-danger small" style="display: none;">
                            产品名称已经存在
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form.category.label(class="form-label") }}
                        {{ form.category(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.brand.label(class="form-label") }}
                        {{ form.brand(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.subject.label(class="form-label") }}
                        {{ form.subject(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.product_indication.label(class="form-label") }}
                        {{ form.product_indication(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.product_format.label(class="form-label") }}
                        {{ form.product_format(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        <label for="dropzone" class="form-label">产品图片:</label>
                        <div class="dropzone" id="my-dropzone"></div>
                    </div>
                    <div class="mb-3">
                        {{ form.product_content.label(class="form-label") }}
                        {{ form.product_content(class="form-control") }}
                        {{ ckeditor.load(custom_url=url_for('static', filename='admin/ckeditor/ckeditor.js')) }}
                        {{ ckeditor.config(name='product_content') }}
                    </div>
                    <div class="mb-3">
                        <input type="hidden" name="temp_files" id="temp_files">
                        {{ form.submit(class="btn btn-primary btn-md") }}
                        {{ form.cancel(class="btn btn-secondary btn-md") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    <script>
        // 获取 CSRF Token
        function getCsrfToken() {
            return "{{ csrf_token() }}";
        }

        // 已有的图片数据
        const existingPhotos = [
            {% for photo in photos %}
                {
                    id: {{ photo.id }},
                    filename: "{{ photo.filename }}",
                    url: "{{ url_for('admin.get_image', filename=photo.filename_m) }}"
                },
            {% endfor %}
        ];

        // dropzone设置
        const tempFiles = [];
        const deletedPhotos = [];
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("#my-dropzone", {
            paramName: "file",
            url: "{{ url_for('admin.product_photo_upload') }}",
            method: "POST",
            headers: {
                'X-CSRF-Token': getCsrfToken()  // 添加 CSRF Token 到请求头
            },
            maxFiles: 10,
            maxFilesize: 5,
            acceptedFiles: "image/*",
            addRemoveLinks: true,
            dictRemoveFile: "删 除",
            dictDefaultMessage: "拖拽图片到框内或点击上传",
            init: function () {
                console.log('当前文件列表:', this.files);
                // 新文件添加时的处理
                this.on('addedfile', function (file) {
                    // 隐藏默认消息
                    this.element.querySelector('.dz-default.dz-message').style.display = 'none';
                });
                // 新文件上传成功后的处理
                this.on('success', function (file, response) {
                    tempFiles.push(response.filename);
                    document.getElementById('temp_files').value = JSON.stringify(tempFiles);
                });
                // 删除文件时的处理
                this.on('removedfile', function (file) {
                    const photoId = file.id; // 假设 file 对象中有 id 属性
                    if (photoId) {
                        // 从 existingPhotos 中移除图片
                        const index = existingPhotos.findIndex(photo => photo.id === photoId);
                        if (index !== -1) {
                            const deletedPhoto = existingPhotos.splice(index, 1)[0]; // 移除并获取被删除的图片
                            deletedPhotos.push(deletedPhoto); // 将被删除的图片存储到 deletedPhotos 数组中
                        }
                    }


                    // 检查 Dropzone 中剩余的文件数量
                    if (this.files.length === 0) {
                        // 如果没有文件，显示默认消息
                        this.element.querySelector('.dz-default.dz-message').style.display = 'block';
                    } else {
                        // 如果有文件，隐藏默认消息
                        this.element.querySelector('.dz-default.dz-message').style.display = 'none';
                    }
                });

                // 初始化时检查文件数量
                if (this.files.length > 0) {
                    this.element.querySelector('.dz-default.dz-message').style.display = 'none';
                } else {
                    this.element.querySelector('.dz-default.dz-message').style.display = 'block';
                }

                // 遍历 existingPhotos，将已上传的图片添加到 Dropzone
                existingPhotos.forEach(function (photo) {
                    // 创建一个模拟的文件对象
                    var mockFile = {
                        id: photo.id,
                        name: photo.filename,
                        size: 0, // 如果需要可以设置实际大小
                        url: photo.url // 图片的 URL
                    };

                    // 调用 Dropzone 的 addedfile 事件来添加文件
                    this.emit("addedfile", mockFile);

                    // 如果文件是图片，调用 Dropzone 的 thumbnail 事件生成缩略图
                    if (mockFile.url.match(/\.(jpeg|jpg|png|gif)$/i)) {
                        this.emit("thumbnail", mockFile, mockFile.url);
                    }

                    // 确保文件不会再次上传
                    mockFile.accepted = true;
                    this.emit("complete", mockFile);
                    this.files.push(mockFile)
                }.bind(this));
            }
        });

        // 检查产品名称是否已经存在
        document.getElementById('product-name').addEventListener('input', function () {
            const name = this.value;
            const errorDiv = document.getElementById('name-error');
            errorDiv.style.display = 'none';  // 清空之前的错误提示
            if (!name) return;  // 如果输入为空，不进行检查
            fetch('/admin/check_product_name', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRF-Token': getCsrfToken()  // 添加 CSRF Token 到请求头
                },
                body: JSON.stringify({name: name})
            })
                .then(response => response.json())
                .then(data => {
                    if (data.exists) {
                        errorDiv.style.display = 'block';
                    } else {
                        errorDiv.style.display = 'none';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });

        // 处理表单提交事件
        document.getElementById('product-form').addEventListener('submit', function (event) {
            const errorDiv = document.getElementById('name-error');
            if (errorDiv.style.display === 'block') {
                event.preventDefault();  // 阻止表单提交
                document.getElementById('product-name').focus();  // 将焦点设置到输入框
            } else {
                document.getElementById('temp_files').value = JSON.stringify(tempFiles);
            }
        });

        // 点击取消按钮还原图片
        document.getElementById('cancel').addEventListener('click', function () {
            // 遍历 deletedPhotos 数组，将图片重新添加到 existingPhotos 和 Dropzone
            deletedPhotos.forEach(photo => {
                // 将图片重新添加到 existingPhotos
                existingPhotos.push(photo);

                // 创建一个模拟的文件对象
                var mockFile = {
                    name: photo.filename,
                    size: 0, // 如果需要可以设置实际大小
                    url: photo.url, // 图片的 URL
                    id: photo.id // 添加 id 属性
                };

                // 调用 Dropzone 的 addedfile 事件来添加文件
                myDropzone.emit("addedfile", mockFile);

                // 如果文件是图片，调用 Dropzone 的 thumbnail 事件生成缩略图
                if (mockFile.url.match(/\.(jpeg|jpg|png|gif)$/i)) {
                    myDropzone.emit("thumbnail", mockFile, mockFile.url);
                }

                // 确保文件不会再次上传
                mockFile.accepted = true;
                myDropzone.emit("complete", mockFile);
            });

            // 清空 deletedPhotos 数组
            deletedPhotos.length = 0;
        });

        // 点击确认按钮提交删除请求
        document.getElementById('submit').addEventListener('click', function () {
            // 遍历 deletedPhotos 数组，提交删除请求
            deletedPhotos.forEach(photo => {
                fetch(`/admin/photo_delete/${photo.id}`, {
                    method: 'POST',
                    headers: {
                        'X-CSRF-Token': getCsrfToken(),
                        'Content-Type': 'application/json'
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            console.log('图片已删除');
                        } else {
                            console.error('删除图片失败');
                        }
                    })
                    .catch(error => {
                        console.error('删除图片时出错:', error);
                    });
            });

            // 清空 deletedPhotos 数组
            deletedPhotos.length = 0;
        });
    </script>
{% endblock %}

