{% extends 'admin_base.html' %}

{% block title %}
    后台管理面板-修改研发生产文章
{% endblock %}
{% block head %}
    {{ super() }}
    {{ ckeditor.load(custom_url=url_for('static', filename='admin/ckeditor/ckeditor.js')) }}
{% endblock %}
{% block content %}
    <div class="container-fluid my-3">
        <div class="row">
            {% include 'admin/_sidebar_category.html' %}
            <div class="col-md-10">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{{ url_for('admin.index') }}"
                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">首页
                            </a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a href="{{ url_for('admin.research_list') }}"
                               class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover">文章列表
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">修改文章</li>
                    </ol>
                </nav>
                <h4 class="text-center mb-3 mt-3">修改文章</h4>
                <hr>
                <form method="POST" enctype="multipart/form-data" class="form" id="research-form">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        {{ form.title.label(class="form-label") }}
                        {{ form.title(class="form-control", id="research-name") }}
                    </div>
                    <div class="mb-3">
                        {{ form.research_category.label(class="form-label") }}
                        {{ form.research_category(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.research_content.label(class="form-label") }}
                        {{ form.research_content(class="form-control") }}
                    </div>
                    <div class="mb-3">
                        {{ form.submit(class="btn btn-primary btn-md") }}
                        {{ form.cancel(class="btn btn-primary btn-md") }}
                    </div>
                </form>
                {{ ckeditor.config(name='research_content') }}
            </div>
        </div>
    </div>
{% endblock %}

