{% extends 'base.html' %}

{% block title %}413 Error{% endblock %}

{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="news_bg_img"><img src="{{ url_for('static', filename='assets/img/bg_img01.png') }}"
                                      class="img-fluid" alt=""></div>
    </header>
    <div class="row justify-content-md-center mt-3 mb-3">
        <div class="card w-50 bg-light">
            <img class="card-img-top img-fluid" src="{{ url_for('static', filename='assets/img/error.jpg') }}">
            <div class="card-body text-center">
                <h5 class="card-title">413 Error</h5>
                <p class="card-text">Request Entity Too Large</p>
            </div>
            <div class="card-footer">
                <div class="text-center">
                    <a class="btn btn-primary" href="javascript:history.back();">Return</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
