<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="bangqi"/>
    <meta name="author" content="bangqi"/>
    {% block head %}
        <title>{% block title %}base{% endblock %}- 广西邦琪药业集团有限公司</title>
        {% block styles %}
            <!-- 集团logo -->
            <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename = 'assets/fav.ico') }}"/>
            <!-- Core theme CSS (includes Bootstrap)-->
            <link rel="stylesheet" href="https://cdn.staticfile.net/font-awesome/6.5.1/css/all.min.css">
            <link rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
            <link href="{{ url_for('static',filename = 'css/styles.css') }}" rel="stylesheet"/>
        {% endblock %}
    {% endblock %}
</head>

<body id="page-top">
{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-white fixed-top bg-opacity-50" id="mainNav">
        <div class="container">
            <a class="navbar-brand p-0 me-0 me-lg-3" href="{{ url_for('main.index') }}" aria-label="邦琪集团">
                <img src="{{ url_for('static', filename = 'assets/img/logo.png') }}"
                     class="d-block my-1 img-fluid"
                     role="img" alt="bangqijituan" style="height:50px;width:auto;">
            </a>
            <button class="navbar-toggler font-weight-bold bg-dark text-white rounded" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse rounded py-4" id="navbarResponsive">
                <ul class="navbar-nav ms-auto nav-item-hover-effect">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-1 px-0 px-lg-4 rounded {% block nav_index %}{% endblock %}"
                           href="{{ url_for('main.index') }}">主 页
                        </a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1 dropdown">
                        <a class="nav-link py-1 px-0 px-lg-3 rounded {% block nav_products %}{% endblock %}"
                           href="{{ url_for('main.product') }}">产品中心
                        </a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-1 px-0 px-lg-3 rounded {% block nav_news %} {% endblock %}"
                           href="{{ url_for('main.news') }}">邦资讯
                        </a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-1 px-0 px-lg-3 rounded {% block nav_intro %}{% endblock %}"
                           href="{{ url_for('main.show_introduce', intro_id=1) }}">公司介绍
                        </a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-1 px-0 px-lg-3 rounded"
                           href="#">研发生产
                        </a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-1 px-0 px-lg-3 rounded {% block nav_contact %}{% endblock %}"
                           href="{{ url_for('main.show_contact', contact_id=1) }}">联系我们
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% for message in get_flashed_messages(with_categories = True) %}
            <div class="alert alert-{{ message[0] }}" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message[1] }}
            </div>
        {% endfor %}
    </nav>
{% endblock %}

{% block content %}
{% endblock %}

<!-- Footer-->
{% if not index_page %}
    <footer class="footer text-center bg-dark text-white pt-5 pb-2">
        <div class="container">
            <div class="row py-5">
                <div class="col-2">
                    <h5 class="mb-2">产品中心</h5>
                    <ul class="list-unstyled">
                        <li class="my-2"><a href="#" class="footer-font-style">膏 剂</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">糖 浆</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">颗 粒</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">片 剂</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">胶 囊</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">酊 剂</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">酊 剂</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">酊 剂</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <h5 class="mb-2">邦资讯</h5>
                    <ul class="list-unstyled">
                        <li class="my-2"><a href="#" class="footer-font-style">公司新闻</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">行业资讯</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">家庭护理</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">商标展示</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <h5 class="mb-2">公司介绍</h5>
                    <ul class="list-unstyled">
                        <li class="my-2"><a href="#" class="footer-font-style">公司介绍</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">质量机构</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">企业架构</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">社会责任</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">企业荣誉</a></li>
                    </ul>
                </div>
                <div class="col-2">
                    <h5 class="mb-2">研发中心</h5>
                    <ul class="list-unstyled">
                        <li class="my-2"><a href="#" class="footer-font-style">公司介绍</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">质量机构</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">企业架构</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">社会责任</a></li>
                        <li class="my-2"><a href="#" class="footer-font-style">企业荣誉</a></li>
                    </ul>
                </div>
                <div class="col-4">
                    <h5 class="mb-2">公司信息</h5>
                    <ul class="list-unstyled">
                        <li class="my-2">公司地址：广西钦州市钦北区皇马工业园</li>
                        <li class="my-2">公司电话：0777-3889528</li>
                        <li class="my-2">邮政编码：535038</li>
                        <li class="my-2"><img src="{{ url_for('static', filename='assets/img/wechat.svg') }}"
                                              alt="公司公众号" style="width:7rem;height:auto;"></li>
                    </ul>
                </div>
            </div>
            <!-- Copyright Section-->
            <div class="text-center mt-5">
                <span class="footer-info-style">Copyright ©2024 广西邦琪药业集团有限公司 All Rights Reserved</span>
                <span class="footer-info-style">
                        <a href="https://beian.miit.gov.cn" target="_blank" class="px-0 px-lg-3 rounded">桂ICP备14001107号-1</a>
                    </span>
                <span class="footer-info-style">
                        <a href="https://beian.miit.gov.cn" target="_blank" class="px-0 px-lg-3 rounded">桂公网安备 45030202000001号</a>
                    </span>
            </div>
        </div>
    </footer>

{% endif %}



{% block scripts %}
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>

{% endblock %}
</body>
</html>
