<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="bangqi"/>
    <meta name="author" content="bangqi"/>
    {% block head %}
        <title>{% block title %}base{% endblock %}- 广西邦琪药业集团有限公司</title>
        {% block styles %}
            <!-- 集团logo -->
            <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename = 'assets/fav.ico') }}"/>
            <!-- Core theme CSS (includes Bootstrap)-->
            <link rel="stylesheet" href="https://cdn.staticfile.net/font-awesome/6.5.1/css/all.min.css">
            <link rel="stylesheet" href="{{ url_for('static',filename = 'css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css">
            <link href="{{ url_for('static',filename = 'css/styles.css') }}" rel="stylesheet"/>
        {% endblock %}
    {% endblock %}
</head>

<body id="page-top">
{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-white fixed-top bg-opacity-50" id="mainNav">
        <div class="container">
            <a class="navbar-brand p-0 me-0 me-lg-3" href="{{ url_for('main.index') }}" aria-label="邦琪集团">
                <img src="{{ url_for('static', filename = 'assets/img/logo.png') }}"
                     class="d-block my-1 img-fluid"
                     role="img" alt="bangqijituan" style="height:50px;width:auto;">
            </a>
            <button class="navbar-toggler font-weight-bold bg-dark text-white rounded" type="button"
                    data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                    aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse rounded py-4" id="navbarResponsive">
                <ul class="navbar-nav ms-auto nav-item-hover-effect">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-1 px-0 px-lg-4 rounded {% block nav_index %}{% endblock %}"
                           href="{{ url_for('main.index') }}">主 页
                        </a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1 dropdown">
                        <a class="nav-link py-1 px-0 px-lg-3 rounded {% block nav_products %}{% endblock %}"
                           href="{{ url_for('main.product') }}">产品中心
                        </a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-1 px-0 px-lg-3 rounded {% block nav_news %} {% endblock %}"
                           href="{{ url_for('main.news') }}">邦资讯
                        </a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-1 px-0 px-lg-3 rounded {% block nav_intro %}{% endblock %}"
                           href="{{ url_for('main.show_introduce', intro_id=1) }}">公司介绍
                        </a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-1 px-0 px-lg-3 rounded"
                           href="#">研发生产
                        </a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-1 px-0 px-lg-3 rounded {% block nav_contact %}{% endblock %}"
                           href="{{ url_for('main.show_contact', contact_id=1) }}">联系我们
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% for message in get_flashed_messages(with_categories = True) %}
            <div class="alert alert-{{ message[0] }}" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{ message[1] }}
            </div>
        {% endfor %}
    </nav>
{% endblock %}

{% block content %}
{% endblock %}

<!-- Footer-->
{% if not index_page %}
    <footer class="footer text-center bg-dark text-white pt-5">
        <div class="container">
            <div class="row">
                <!-- Footer Location-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">企业地址</h4>
                    <p class="lead mb-0">
                        广西壮族自治区
                        <br/>
                        钦州市钦北区皇马工业园
                    </p>
                    <p class="lead mb-0">
                        邮编：535038
                    </p>
                </div>
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">集团与分公司</h4>
                    <p class="lead mb-0 ">广西邦琪药业集团有限公司</p>
                    <p class="lead mb-0">广西百琪药业有限公司</p>
                    <p class="lead mb-0">广西葛洪堂药业有限公司</p>
                    <p class="lead mb-0">广西葛洪堂方略制药有限公司</p>
                    <p class="lead mb-0">广西泰和制药有限公司</p>
                </div>
                <!-- Footer About Text-->
                <div class="col-lg-4">
                    <h4 class="mb-4">企业公众号</h4>
                    <p class="lead mb-0">
                        <img class="img-fluid rounded mb-5"
                             src="{{ url_for('static', filename = 'assets/img/gongzhonghao.svg') }}" alt="">
                    </p>
                </div>
            </div>
        </div>
        <!-- Copyright Section-->
        <div class="copyright py-4 text-center text-white bg-dark">
            <div class="container"><small>Copyright ©2023 广西邦琪药业集团有限公司 All Rights Reserved</small></div>
            <div class="container"><small>互联网药品信息服务资格证书：（桂）-非经营性-2023-0020号 <a
                    href="https://beian.miit.gov.cn" target="_blank" class="px-0 px-lg-3 rounded"
                    style="color: #fff; text-decoration: none">桂ICP备14001107号-1</a></small>
            </div>
        </div>
    </footer>

{% endif %}



{% block scripts %}
    <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="{{ url_for('static', filename = 'js/jquery.countup.js') }}"></script>
    <script src="{{ url_for('static', filename = 'js/scripts.js') }}"></script>

{% endblock %}
</body>
</html>
