{% extends 'base.html' %}

{% block title %}
    公司新闻
{% endblock %}
{% block nav_news %}active{% endblock %}
{% block content %}
    <header class="masthead bg-primary text-white text-center">
        <div class="news_bg_img"></div>
    </header>
    <section class="page-section portfolio bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-1">
                    <div class="card" style="width: 18rem;">
                        <div class="card-header fw-bold">
                            新闻资讯
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="{{ url_for('news_company') }}">公司新闻</a></li>
                            <li class="list-group-item active"><a href="{{ url_for('news_industry') }}">行业资讯</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}