.list-group-item.has-submenu::after {
    content: ' \25BE'; /* Unicode for down arrow */
}

.list-group-item.has-submenu.collapsed::after {
    content: ' \25BE'; /* Unicode for down arrow */
}

.list-group-item.has-submenu:not(.collapsed)::after {
    content: ' \25B4'; /* Unicode for up arrow */
}

.alert-floating {
    position: fixed;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050; /* 确保它在其他内容之上 */
    text-align: center; /* 确保文本居中 */
}

.photo-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    border: 1px solid grey;
}

.photo-container img {
    width: 100px;
    height: auto;
}

.photo-container .btn-close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

/* 自定义 Dropzone 样式 */
.dropzone {
    margin: 2px;
    border: 2px dashed #0087F7;
    background: #f9f9f9;
    border-radius: 5px;
    min-height: 200px;
    padding: 20px;
    color: #0087F7;
    font-size: 16px;
}

.dropzone:hover {
    background: #f0f0f0;
}

.dropzone .dz-message {
    margin: 5rem 0;
    font-size: 18px;
    color: #555;
}

.dropzone .dz-preview.dz-image-preview {
    background: none;
}
